/letsencrypt/etc/letsencrypt/live/*
/letsencrypt/etc/letsencrypt/archive/*
/letsencrypt/etc/letsencrypt/keys/*
/letsencrypt/etc/letsencrypt/renewal/*
/letsencrypt/etc/letsencrypt/csr/*
/letsencrypt/etc/letsencrypt/accounts/*
/letsencrypt/accounts/*
/letsencrypt/fail2ban/*
/letsencrypt/keys/*
/letsencrypt/log/*
/common/media/movies/*
/common/media/tvshows/*
/common/downloads/*
/ombi/Logs/*
/ombi/Ombi.db
/ombi/Schedules.db
/ombi/.aspnet/*
/plex/*
/plexpy/*
/radarr/*
/sonarr/*
